<style>
  .social-links {
      position: fixed;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 9999;
    }

  .social-links a {
    display: inline-block;
    margin: 0 10px;
  }

  .social-links img {
    width: 30px;
    height: 30px;
  }
</style>

<div class="social-links">
  <a href="#" target="_blank" rel="nofollow">
    <img src="/static/Youtube.png" alt="Youtube">
  </a>
  <a href="#" target="_blank" rel="nofollow">
    <img src="/static/Twitter.png" alt="Twitter">
  </a>
  <a href="#" target="_blank" rel="nofollow">
    <img src="/static/Insta.png" alt="Instagram">
  </a>
  <a href="#" target="_blank" rel="nofollow">
    <img src="/static/Linkedin.png" alt="Linkedin">
  </a>
</div>
